<main>
  <section class="error">
    <p class="error__desc">500. <span class="error__msg">Server Error</span></p>
    <img class="error__image" src="../../public/images/error.png" alt="error">
  </section>
</main>
