<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/css/err.css">
  <title>Document</title>
</head>
<body>
<section class="error">
  <p class="error__desc">500. <span class="error__msg">Server Error</span></p>
  <img class="error__image" src="../../public/images/error.png" alt="error">
</section>
</body>
</html>
