<main id='container'>
  <div class="form-wrap">
    <h1>Sign Up</h1>
    <p>do you already have an account? <a href="/login">Login</a></p>
    
    <form action="/signup" method="POST">
      <h4>{{error}}</h4>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="username" type="text" name="username" id="signup__username">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="email" type="email" name="email" id="signup__email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="password" type="password" name="password" id="signup__password" required>
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm Your Password</label>
        <input class="confirm-password" type="password" name="confirm_password" id="signup__confirmpassword" required>
      </div>

      <div class="form-group">
        <label for="mobile_no">Mobile Number</label>
        <input class="mobile_no" type="number" name="mobile_no" id="signup__mobilenomber" required>
      </div>
    
      <div class="form-group">
        <label for="date_of_birth">Date Of Birth</label>
        <input class="date-of-birth" type="date" name="date_of_birth" id="signup__dateofbirth" required>
      </div>

      <button type="submit" class="btn">Sign Up</button>
      <P class="bottom-text">By clicking the sign up button you agree to our <a href="#">Terms & Conditions</a>
          and <a href="#">Privacy Policy</a></P>
    </form>
  </div>
</main>