<header>
  <div class="container">
  <img src="http://www.15-seconds.com/wp-content/uploads/2011/03/icon_c1.png" alt="logo">
  <nav class="navbar">
    <ul class="nav__list">
      <li class="nav_item"><a class="nav__link" href="/" target="blank">HOME</a></li>
      <li class="nav_item"><a class="nav__link" href="/profile" target="blank">PROFILE</a></li>
      {{#if cook}}
      <li class="nav_item"><a class="nav__link" href="/profile" target="blank">wellcome to <span>{{cook}}</span></a></li>
      <li class="nav_item"><a class="nav__link" href="/signout" target="blank">SING OUT</a></li>

      {{else}}
      <li class="nav_item"><a class="nav__link" href="/login" target="blank">LOGIN</a></li>
      <li class="nav_item"><a class="nav__link" href="/signup" target="blank">SIGN UP</a></li>
      {{/if}}


    </ul>
  </nav>
  </div>
</header>