<header>
   <img class="logo" src="http://www.15-seconds.com/wp-content/uploads/2011/03/icon_c1.png" alt="logo">
  <div class="container">

  <nav class="navbar">
    <ul class="nav__list">
      <li class="nav_item"><a class="nav__link" href="/">HOME</a></li>
      <li class="nav_item"><a class="nav__link" href="/profile">PROFILE</a></li>
      {{#if cook}}
      <li class="nav_item"><a class="nav__link" href="/profile">wellcome to <span>{{cook}}</span></a></li>
      <li class="nav_item"><a class="nav__link" href="/signout">SING OUT</a></li>

      {{else}}
      <li class="nav_item"><a class="nav__link" href="/login">LOGIN</a></li>
      <li class="nav_item"><a class="nav__link" href="/signup">SIGN UP</a></li>
      {{/if}}


    </ul>
  </nav>
  </div>
</header>