<header>
  <img src="./images/logo.png" alt="logo">
  <nav>
    <ul>
      <li><a href="/" target="blank">HOME</a></li>
      <li><a href="/profile" target="blank">PROFILE</a></li>
      <li><a href="/login" target="blank">LOGIN</a></li>
      <li><a href="/signup" target="blank">SIGN UP</a></li>
   </ul>
  </nav>
</header>